.nav-div {
	background: #E7E7E7;
	height: 40px;
}

.search-input {
	width: 50px;
}

.search-input {
	width: 50px;
}

.search2 {
	width: 330px;
}

.search-input form div div .input-group input {
	width: 200px;
}